extend layout
block head
	script(type='text/javascript', src='/static/js/views/board.js')
block content
	.js-board.board(data-game_name=gameName)
		each row in rows
			.cell(data-term_id=row.id): .label= row.value
