extend layout
block head
	script(type='text/javascript', src='/static/js/views/index.js')
	
block content
	form.player-name.js-player-name: input(autofocus='autofocus', name='player_name' placeholder='your player name here')
