!!!5
html
	head
		title Bingo
		script(type='text/javascript', src='/static/es5-sham.min.js')
		script(type='text/javascript', src='/socket.io/socket.io.js')
		script(type='text/javascript', src='/static/main.js')
		link(rel='stylesheet', href='/static/style.css')
	body
		block content
