@import 'nib'

global-reset()

*,*::before,*::after
	box-sizing     border-box
	user-select    none

html,body
	padding        0
	margin         0
	height         100%

body
	text-align     center
	font-size      0
	white-space    nowrap

body::before
	content        ''
	display        inline-block
	height         100%
	vertical-align middle

.board
	display        inline-block
	vertical-align middle
	text-align     left
	white-space    normal
	width          500px

.board .cell
	text-align     center
	font           12px monospace
	display        inline-block
	width          100px
	height         100px
	padding        10px

	&:hover
		background-color red
		color            white

	&:active
		background-color black
		color            white

	&.called
		background-color: grey

.board .cell::before
	content        ''
	display        inline-block
	height         100%
	vertical-align middle

.board .cell .label
  white-space    normal
	display        inline-block
	vertical-align middle
	cursor         default
